#adorable{
    background: YELLOW;
    color: blue;
}

#own{
  color: red;
}

#favorite{
    background:yellow;
    color:blue;
}

.song{
    color: red;
}

#great{
    color:blue;
    background: yellow;
}

.ulist{
   color:blue;
}

 #different{
    background:yellow;
    color:red;
 }   
#famous{
    color:blue;
}