#adorable{
    background: YELLOW;
    color: blue;
}

#own{
  color: red;
}

#favorite{
    background:yellow;
    color:blue;
   
}

.song{
    color: red;
    text-align:center;
    font-family:lucida console;
}

#great{
    color:blue;
    background: yellow;
}

.ulist{
   color:#28ffe6;
}

 #different{
    background:yellow;
    color:red;
 }   
#famous{
    color:blue;
}
.list{
    color:purple;
}
#kind{
    color:red;
}
#read{
    color:red;
}